.hidden {
    display: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

button {
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px){
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: none;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        background-color: #fff;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.logo-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    background-color: #fff;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

    .contacts {
        font-style: normal;
        display: block;
    }

    .page-header-nav {
        display: flex;
        align-items: center;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        align-items: center;
        gap: 40px;
        flex-direction: row;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
}

.close {
    fill: #2e2f42;
}

.mobile-nav {
    margin-bottom: auto;
}

.mobile-nav-list {
    display: block;
}

.mobile-nav-item {
    display: flex;
    margin-bottom: 40px;
}

.mobile-nav-item:last-child {
    margin-bottom: 0;
}

.mobile-nav-link-s {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #404bbf;
}

.mobile-nav-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-contacts {
    margin-bottom: auto;
}

.mobile-contacts-list {
    display: block;
}

.mobile-contacts-item {
    display: flex;
    margin-bottom: 24px;
}

.mobile-contacts-item:last-child {
    margin-bottom: 0;
}


.mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-contacts :active {
    color: #4d5ae5;
}

.mobile-social-list {
    display: flex;
    gap: 40px;
}

.mobile-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}

mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-svg {
    fill: #f4f4fd;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* #region hero */

.section-hero {
    background-color: #2e2f42;
    padding: 0;
    margin: 0;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/people-office-m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: px;
}

.title-hero {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
}

.btn-hero {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    white-space: nowrap;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
}

@media screen and (min-resolution: 192dpi) {
    .section-hero {
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-m@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .section-hero {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-t.jpg);
    }

    .hero-container {
        gap: 36px;
    }

    .title-hero {
        font-size: 56px;
        max-width: 496px;
        line-height: 1.07;
    }

    .btn-hero {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btn-hero:hover,
    .btn-hero:focus {
        color: #404bbf;
        background-color: #404BBF;
        }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-t@2x.jpg);
    }
}


@media screen and (min-width: 1158px) {
    .section-hero {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),url(../images/hero/people-office.jpg);
    }

        .hero-container {
            gap: 48px;
        }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/hero/people-office-d@2x.jpg);
    }
}


/* #endregion hero */

/*#region benefits */
.section-benefits {
    padding: 0;
    margin: 0;
    padding: 96px 0;
}

.benefits-container {
    max-width: 320px;
    align-items: center;
    margin: 0 auto;
}  

.list-benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 72px;
}

.list-benefits-item {
    max-width: 288px;
    display: block;
}

.icon {
    display: none;
}

.list-benefits-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-container {
        max-width: 768px;
    }
    .list-benefits {
        gap: 72px 24px;
    }
    .list-benefits-item {
        width: 356px;
    }

    .list-benefits-subtitle {
      text-align: left;  
    }
}

@media screen and (min-width: 1158px) {
    .benefits-container {
        max-width: 1158px;
    }

    .section-benefits {
        padding: 120px 0;
    }

    .list-benefits {
        gap: 24px;
    }
    
        
    .list-benefits-item {
        width: 264px;
        width: calc((100% - 72px) / 4);
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border: 1px solid #8e8f99;
        background-color: #F4F4FD;
        border-radius: 4px;
        padding: 24px 100px;
        margin-bottom: 8px;
    }
}

/* #endregion benefits */

/* #region team */

.section-team {
    padding: 0;
    margin: 0;
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-container {
    max-width: 320px;
    align-items: center;
    margin: 0 auto;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    background-color: #F4F4FD;
}

.list-team-item {
    display: block;
    background-color: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    width: 264px;
}

.list-team-pic {
    display: block;
    width: 100%;
    height: auto;
}

.member-container {
    align-items: center;
    padding: 32px 0 32px;
}

.list-team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.list-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 24px;
}

.icon-list {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    overflow: hidden;
}

.icon-social {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-container {
        max-width: 768px;
    }

    .list-team-item {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .section-team{
        padding: 120px 0;
    }

    .team-container {
        max-width: 1158px;
    }

    .list-team-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-link:hover,
    .icon-link:focus {
        background-color: #404bbf;
    }
}

/* #endregion team */

/* #region portfolio */















/* #endregion portfolio */