body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);     
}

.header-container {
    display: flex;
    align-items: center;
}

.page-header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #fff;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-accent {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    background-color: #fff;
}

.nav-list { 
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts {
    margin-left: auto;
    font-style: normal;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* #region hero */
.section-hero {
    background-color: #2e2f42;
    padding: 0;
    margin: 0;
    padding: 188px 0;
    margin: 0 auto; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;          
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 48px;  
}

.title-hero {
   
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}
    
.btn-hero {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    white-space: nowrap;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
    color: #404bbf;
    background-color: #404BBF;
}
/* #endregion hero */
/* #region benefits */
.section-benefits {
    padding: 0;
    margin: 0;
    padding: 120px 0;
}

.benefits-container {
    align-items: center;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;  
}

.list-benefits-item {
    display: block;
    width: 264px;
    width: calc((100% - 72px) / 4);  
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #F4F4FD;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.list-benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion benefits */

/* #region team */
.section-team {
    padding: 0;
    margin: 0;
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {
    align-items: center;
    margin: 0 auto;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    background-color: #F4F4FD;
}

.list-team-item {
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    background: #fff;
    width: 264px;
    width: calc((100% - 72px) / 4);
}

.list-team-pic {
    display: block;
    width: 264px;
    height: 260px;
    background-color: #FFFFFF;
}

.member-container {
    align-items: center;
    padding: 32px 0 32px;
}

.list-team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;  
}

.list-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;   
}

.list-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 24px;    
}

.icon-list {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 50%;
    overflow: hidden;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.icon-social {
    fill: #f4f4fd;   
}
/* #endregion team */

/* #region portfolio */
.section-portfolio {
    padding: 0;
    margin: 0;
    padding: 120px 0 120px 0;
}

.portfolio-container {
    align-items: center;
    margin: 0 auto;
}

.title-section-portfolio {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
        
}

.list-section-portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px 24px;
    margin: 0 auto;
}

.list-portfolio-item {
    display: block;
    border: 1px solid #e7e9fc;
    width: 360px;
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }

.list-portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    }



.thumb-portfolio {
    position: relative;
    overflow: hidden;
    }

.overlay-text {
    
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.list-portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.list-portfolio-pic {
    display: block;
    width: 360px;
    height: 300px;
}

.container-works {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion portfolio */
/* #region footer */

.footer-social {
    display: flex;
    align-items: baseline;
}


.page-footer {
    padding: 100px 0 100px;
    background-color: #2e2f42;
}

.container-footer {
    
    margin-right: 120px;
}


.logo-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    margin-bottom: 16px;
}

.footer-part-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;       
}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-item {
    width: 40px;
    height: 40px;
   
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
 .social-media-link:focus {
    background-color: #31d0aa;
}

.media-icon {
    fill: #f4f4fd;
}


.form-container {
    display: block;
    max-width: 453px;
    margin-left: 80px;
}

.form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    gap: 24px;
}

.input-form-footer {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.input-form-footer::placeholder {
    color: #ffffff;
}

.form-button-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.icon-button-footer {
    margin-left: 16px;
    fill: #fff;
}


/* #endregion footer */

/* #region backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover,
.close-button:focus{
    background-color: #404bbf;
    border: none;
}

.close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close,
 .close-button:focus .close {
    fill: #ffffff;
}


.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    min-width: 360px;
    margin-bottom: 16px;
}



.form-field-wrapper {
    max-width: 360px;
    margin-bottom: 8px;
}

.label-field {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

    
}

.field-wrapper {
    position: relative;
}

.input-field {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background: transparent;
    padding-left: 38px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
    border-color: #4d5ae5;
    
}

.field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus + .field-icon {
    fill: #4d5ae5;
}

.form-field-wr {
    max-width: 360px;
    margin-bottom: 16px;
}

.comment-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
}

.comment-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.comment-textarea:focus {
    border-color: #4d5ae5;
}
  
.form-field-wrap {
    max-width: 360px;
    margin-bottom: 24px;
}

.policy-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.policy-checkbox:checked+.policy-label>.custom-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.button-send {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    margin:0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color:  #4d5ae5;
    cursor: pointer;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
    background-color: #404bbf;
}




/* #endregion backdrop */













